{% extends "base/base.html" %}
{% load static %}
{% block titulo %}Listado Soportes{% endblock titulo %}
{% block contenido %}
    <section class="listado">
        <div class="completo_listado">
            <div class="container">
                {% if request.user.rol == 'Administrador' %}
                    <div class="crear_listado">
                        <button type="button" onclick="CrearSoporte('{% url "Crear_Soporte" %}')">Crear <i class="fas fa-plus"></i></button>
                        <hr>
                    </div>
                {% elif request.user.rol == 'Especialista' %}
                    <div class="crear_listado">
                        <button type="button" onclick="CrearSoporte('{% url "Crear_Soporte" %}')">Crear <i class="fas fa-plus"></i></button>
                        <hr>
                    </div>
                {% endif %}
                <div class="row justify-content-center">
                    {% if object_list %}
                        {% for object in object_list %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="soporte">
                                    <div class="imagen_soporte">
                                        {% if object.imagen %}
                                            <img src="/media/{{ object.imagen }}" class="d-block w-100" alt="...">
                                        {% else %}
                                            <img src="{% static "img/sinfoto.png" %}" class="d-block w-100" alt="...">
                                        {% endif %}
                                    </div>
                                    <div class="titulo_soporte">
                                        <a href="{% url "Detalle_Soporte" object.id %}"><h3>{{ object.titulo }}</h3></a>
                                    </div>
                                    <div class="descripcion_soporte">
                                        <p>{{ object.descripcion }}</p>
                                    </div>
                                </div>
                                {% if request.user.rol == 'Administrador' %}
                                    <div class="funciones_crud">
                                        <a href="{% url "Detalle_Soporte" object.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <button type="button" class="btn btn-warning" onclick="EditarSoporte('{% url "Editar_Soporte" object.id %}')"><i class="fas fa-pencil"></i></button>
                                        <button type="button" class="btn btn-danger" onclick="EliminarSoporte('{% url "Eliminar_Soporte" object.id %}')"><i class="fas fa-trash"></i></button>
                                    </div>
                                {% elif request.user.rol == 'Especialista' %}
                                    <div class="funciones_crud">
                                        <a href="{% url "Detalle_Soporte" object.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <button type="button" class="btn btn-warning" onclick="EditarSoporte('{% url "Editar_Soporte" object.id %}')"><i class="fas fa-pencil"></i></button>
                                        <button type="button" class="btn btn-danger" onclick="EliminarSoporte('{% url "Eliminar_Soporte" object.id %}')"><i class="fas fa-trash"></i></button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                    <h2>No presenta ningún Soporte en la Base de Datos</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="modal fade" id="crear_soporte" role="dialog">
    
        </div>
        <div class="modal fade" id="editar_soporte" role="dialog">
    
        </div>
        <div class="modal fade" id="eliminar_soporte" role="dialog">
    
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script type="application/javascript">
        function CrearSoporte(url){
            $('#crear_soporte').load(url, function(){
                $('#crear_soporte').modal('show');
            });
        }
        function EditarSoporte(url){
            $('#editar_soporte').load(url, function(){
                $('#editar_soporte').modal('show');
            });
        }
        function EliminarSoporte(url){
            $('#eliminar_soporte').load(url, function(){
                $('#eliminar_soporte').modal('show');
            });
        }
    </script>
{% endblock javascript %}